@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Bebas Neue', sans-serif;
}
.container-grid {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}
.conteudo-social {
    background-color: #080324;
    width: 100%;
    display: flex;
    position: fixed;
    height: 35px;
    z-index: 50;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1.0em;
}
.conteudo-social a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-left: 0.5em;
}
header {
    z-index: 1;
    background-color: black;
    height: 80px;
    position: relative;
    width: 100vw;
    top: 35px;
}
.conteudo-header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
.logo {
    height: 140px;
    padding-top: 10px;
}
.menu-header {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    transition: 0.3s;
}
.menu-header a:hover:not(.botao) {
    font-size: 1.6em;
}
.botao {
    background-color: #7a00ff;
    height: 45px;
    width: 150px;
    text-align: center;
    line-height: 47px;
    font-size: 1.5em !important;
    border: solid 1px #080324;
    border-radius: 40px 10px;
}
.botao:hover {
    font-size: 1.6em !important;
    height: 50px;
    line-height: 50px;
    width: 160px;
    transition: 0.3s;
    box-shadow: 4px 4px 6px #0000007A;
}
.menu-barras {
    display: none;
}

/*Início CSS Footer*/
footer {
    height: auto;
    width: 100%;
    background-color: black;
    color: #A259F7;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

/* footer span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 90%;
    text-align: center;
}a */

.rodape .container #logo-rodape {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.rodape .container #logo-rodape img {
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.rodape .container #logo-rodape a {
    text-decoration: none;
    font-style: none;
}
/* .rodape .info-contato p {
    margin: 0px;
}
.rodape a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
} 
.rodape a:hover {
    font-weight: bold;
}*/

/* Início CSS Contato */
.contato {
    margin-top: -150px;
    height: 1100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_main {
    width: 100%;
}
.form_main h4 {
    font-family: "Bebas Neue";
    font-size: 20px;
    font-weight: 300;
    margin-top: 22px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.col-md-6 #txt-local {
    margin-top: 20px;
    border-bottom: 1px solid #111e8d;
    margin-bottom: 25px;
    position: relative;
}
.text-left {
    border-bottom: 1px solid #111e8d;
    padding-bottom: 9px;
    position: relative;
}
.text-center {
    border-bottom: 1px solid #ffffff;
    padding-right: 9px;
    position: relative;
}
.text-left span {
    background: #111e8d none repeat scroll 0 0;
    bottom: -2px;
    height: 3px;
    left: 0;
    position: absolute;
    width: 0px;
}
.form-horizontal {
    border-radius: 107px;
    padding: 6px;
}
.form-control[type="text"] {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}
.form-control-msg[type="email"] {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}
.form-control-msg[type="text"] {
    margin: 10px 0 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}
.formbutton[type="submit"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #87c0e6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #87c0e6;
    box-shadow: inset 0px 1px 0px 0px #87c0e6;
    background-color: #7a00ff;
    display: inline-block;
    border: 1px solod #000000;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    line-height: 35px;
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
    width: 30%;
}
#butao1 {
    padding-right: 80px;
}
.formbutton:hover {
    background-color: #31a1de;
}
.formbutton:active {
    position: relative;
    top: 1px;
}
.txt2:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #5793ef;
    transition: all 0.5s ease 0s;
}
/* Fim CSS Contato */
/* Início CSS Map */
.map {
    width: 100%;
    height: 100%;
}
/* Fim CSS Map */